<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("header", {titulo : "Categorías"}) %>
</head>

<body>
    <%- include("navBar") %>
    <div class="container-fluid">
        <div class="row mt-5 pb-5">
            <div class="col-12 col-lg-6 border-end border-dark-subtle border-2">
                <div class="row">
                    <div class="col ms-5">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <select class="form-select">
                                    <% for(var c in info["categorias"]){ %>
                                        <option value="<%= c %>"> <%= info["categorias"][c] %></option>
                                    <% }; %>
                                </select>
                            </div>
                            <div class="col-auto">
                                <a href="">¿Qué conocimientos se adquieren en cada categoría?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col ms-5 mt-5">
                        <h6>Valores medios de la clase</h6>
                    </div>
                </div>
                <div class="row ms-5 me-5 mb-5">
                    <div class="col mt-3">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Nivel</th>
                                    <th scope="col">Tiempo</th>
                                    <th scope="col">Intentos</th>
                                    <th scope="col">Estrellas</th>
                                </tr>
                            </thead>
                            <tbody ruta = "/profesor/getMediasCategoria/">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row ms-5">
                    <div class="col-auto">
                        <h6>Distribución tiempo empleado</h6>
                    </div>
                    <div class="col-auto">                        
                        <a href="">¿Qué representan los boxplots?</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="tiempos" class="plotTiempo p-0" ruta="/profesor/getTiempoCategoria/"></div>
                    </div>                   
                </div>
                <div class="row ms-5 mt-4">
                    <div class="col">
                        <h6>Distribución intentos</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="intentos" class="plotIntentos p-0" ruta="/profesor/getIntentosCategoria/"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="infoJugadores" value = "<%= JSON.stringify(jugadores) %>"></div>
    </div>

    <script>
        $(document).ready(cambiarPlot);

        $(document).ready(function(){
            $(".form-select").change(cambiarPlot);
        });


        function cambiarPlot(){
            var categoria = $(this).val();
            if(categoria=="")
                categoria="tutorials"
            $('.plotTiempo').each(function() {
                var ruta = $(this).attr('ruta');
                fetch(ruta + categoria)
                .then(response => response.json())
                .then(data => {
                    jugadores = JSON.parse($('#infoJugadores').attr('value'));
                    data = JSON.stringify(data);
                    var result = data;
                    for(var j in jugadores){
                        if(j != jugadores[j]["nombre"]){
                            result = result.replaceAll(j, jugadores[j]["nombre"]);
                        }
                    }
                    Plotly.newPlot($(this).attr('id'), JSON.parse(result).data, JSON.parse(result).layout, {responsive: true});
                })
                .catch(error => console.error(error));
            });

            $('.plotIntentos').each(function() {
                var ruta = $(this).attr('ruta');
                fetch(ruta + categoria)
                .then(response => response.json())
                .then(data => {
                    jugadores = JSON.parse($('#infoJugadores').attr('value'));
                    data = JSON.stringify(data);
                    var result = data;
                    for(var j in jugadores){
                        if(j != jugadores[j]["nombre"]){
                            result = result.replaceAll(j, jugadores[j]["nombre"]);
                        }
                    }
                    Plotly.newPlot($(this).attr('id'), JSON.parse(result).data, JSON.parse(result).layout, {responsive: true});
                })
                .catch(error => console.error(error));
            });

            $('tbody').each(function() {
                $(this).empty()
                var ruta = $(this).attr('ruta');
                fetch(ruta + categoria)
                .then(response => response.json())
                .then(data => {
                    for(var n in data){
                        $('tbody:last-child').append(
                            '<tr> <th scope="row">' + (n.charAt(0).toUpperCase() + n.slice(1)).replaceAll("_", " ") + '</th>' +
                                '<td>' + data[n]["tiempo"] + '</td>' +
                                '<td>' + data[n]["intentos"] + '</td>' +
                                '<td>' + data[n]["estrellas"] + '</td>' +
                            '</tr>'
                        );
                    }
                })
                .catch(error => console.error(error));
            });
        }
    </script>
</body>
</html>