<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("header", {titulo : "Errores Alumnos"}) %>
    <script src="js/filtrosTablaErrores.js"></script>
</head>
<body>
    <%- include("navBar") %>
    <div class = "container">
        <div class="row">
            <div class="col-auto mt-5">
                <h6>Buscar participante:</h6>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" id="searchP" placeholder="Nombre">                        
                </form>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <table class="table table-striped" id="example">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Nº</th>
                            <th scope="col" class="text-center">Nombre</th>
                            <th scope="col" class="text-center">Tiempo Jugado</th>
                            <th scope="col" class="text-center">Último nivel alcanzado</th>
                            <th scope="col" class="text-center">Nº avisos por nivel</th>
                            <th scope="col" class="text-center">Avisos</th>
                        </tr>
                    </thead>
                    <tbody id="cuerpoTabla">
                        <% jugMasErr.forEach(function(j, i){ %>            
                            <tr class="alumno" idAlumno="<%= j.id %>" numAlumno="<%= i + 1 %>" nombre="<%= j.nombre %>" tiempo="<%= j.tiempo %>" ultNivel="<%= j.ultNivel %>" mediaErrores="<%= j.mediaErroresVar %>">
                                <th scope="row" class="text-center"><%= i + 1 %></th>
                                <td class="text-center"><%= j.nombre %></td>
                                <td class="text-center"><%= j.tiempo %></td>
                                <td class="text-center"><%= j.ultNivel %></td>
                                <td class="text-center"><%= j.mediaErroresVar %></td>
                                <td class="text-center">
                                    <a class="cursorOnHover" data-bs-toggle="modal" data-bs-target="#modal<%= j.id %>">
                                        <i class="fa-solid fa-eye" style="color:black"></i>
                                    </a>
                                </td>
                            </tr>
                        <% }); %>
                            
                        </tbody>
                    </table>
                    <% for(var alumno in jugMasErr){ %>  
                        <div class="modal modal-lg fade" id="modal<%= jugMasErr[alumno]['id'] %>">
                            <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Errores <%= jugMasErr[alumno]["nombre"] %></h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <% if(jugMasErr[alumno]["id"] in erroresJugadores) { %>
                                        <% erroresJugadores[jugMasErr[alumno]["id"]].forEach((e, i) => { %>
                                            <h6 class="mb-0"><%= i + 1 %>º Aviso:</h6>
                                            <%= e.error %>
                                            <br><br>
                                            <h6 class="mb-0">Nivel:</h6>
                                            <%= (e.level.charAt(0).toUpperCase() + e.level.slice(1)).replaceAll("_", " ")%>
                                            <hr>
                                        <% }); %>
                                    <% } else{ %>
                                        <h6>Sin errores</h6>
                                    <% } %>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    <% }; %>
            </div>
        </div>
    </div>
</body>
</html>