<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("header", {titulo : "Avisos"}) %>
    <script src="js/changeTipoError.js"></script>
</head>
<body>
    <%- include("navBar") %>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2><%= texto.avisos.titulo %></h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col offset-lg-2">
                <p><%= texto.avisos.exp1 %></p>
                <p><%= texto.avisos.exp2 %></p>
                <p><%= texto.avisos.exp3 %></p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-lg-6 border-end border-dark-subtle border-2">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <h6><%= texto.avisos.concepto %></h6>
                        <select class="form-select">
                            <option value="Var"><%= texto.avisos.variables %></option>
                            <option value="Cod"><%= texto.avisos.codigo %></option>
                        </select>
                    </div>
                    <div class="col-auto me-4">
                        <div class="row">
                            <div class="col">
                                <h6><%= texto.avisos.verParticipantes %></h6>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <a href="" class="btn btn-primary" id="linkErroresDetallados"><%= texto.avisos.btnAvisos %></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-auto">
                        <h6><%= texto.avisos.subT1 %></h6>
                        <p><%= texto.avisos.exp4 %></p>
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr>
                                    <th scope="col" class="align-middle"><%= texto.comun.tablas.nombre %></th>
                                    <th scope="col" class="align-middle"><%= texto.comun.tablas.tiempoJugado %></th>
                                    <th scope="col" class="text-center align-middle"><%= texto.comun.tablas.ultNivel %></th>
                                    <th scope="col" class="text-center align-middle"><%= texto.comun.tablas.nAvisos %></th>
                                </tr>
                            </thead>
                            <tbody id ="tablaJugadores"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 ps-lg-5">
                <div class="row">
                    <div class="col">
                        <h6><%= texto.avisos.subT2 %></h6>
                        <p><%= texto.avisos.exp5 %></p>
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr>
                                    <th scope="col"><%= texto.comun.tablas.nivel %></th>
                                    <th scope="col" class="text-center"><%= texto.comun.tablas.avisos %></th>
                                    <th scope="col" class="text-center"><%= texto.comun.tablas.participantes %></th>
                                </tr>
                            </thead>
                            <tbody id="tablaNiveles"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col pb-5">
                <div id="erroresNivelesPlot"></div>
            </div>
        </div>
    </div>
</body>
</html>