<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include("header", {titulo : "Resumen"}) %>
    <script src="js/plotGenerator.js"></script>
</head>

<body>
    <%- include("navBar") %>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Resultados generales</h2>
            </div>
        </div>
        <div class="row mt-5 pb-5">
            <div class="col-12 col-lg-6 border-end border-dark-subtle border-2">
                <div class="row">
                    <h4>Categorías superadas</h4>
                    <h5 class="mt-3">Número de alumnos: <%= nJugadores %></h5>
                </div>
                <div class="row">
                    <div id="categoriasSuperadas" class="plot p-0" ruta="/profesor/getDatosResumen"></div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row ps-5">
                    <h4 class="p-0">Resultados</h4>
                    <h5 class="mt-3 p-0">Valores medios de la clase</h5>
                </div>
                <div class="row mt-5">
                    <div class="col ps-5">                   
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Categorías</th>
                                <th scope="col">Tiempo</th>
                                <th scope="col">Intentos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var c in medias){ %>
                                <tr>
                                    <th scope="row"><%= c %></th>
                                    <td><%= medias[c]["tiempo"] %></td>
                                    <td><%= medias[c]["intentos"] %></td>
                                </tr>
                            <% } %>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>